<h1>Home screen</h1>
<div>this is the home screen</div>

<%= link_to "Home", "/" %>
<%= link_to "About Us", "/aboutus" %>
<%= link_to "History", "/history" %>
<%= link_to "Catalog", "/catalog" %>


<%# <%= link_to "Home", "/", class: "nav-button" %>